<ng-container *ngIf="game">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Black</h5>
                    <p class="card-text">{{getScoreForBlack()}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">White</h5>
                    <p class="card-text">{{getScoreForWhite()}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>