.board-container {
    text-align: center;
}
.board-square {
    padding: 5px;
    background-color: darkgreen;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    height: 50px;
    width: 50px;
}
.board-row {
    display: inline-block;
}

disc {
    width: 40px;
    height: 40px;
}

.turn-message {
    text-align: center;
    font: 15px bold;
    display: block;
}
.invalid-move {
    text-align: center;
    font: 15px bold red;
}