<div *ngIf="player">

    <span>Hi {{player.firstName}}</span>



    <div class="text-center">
        <div class="container">
            <showgames></showgames>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow">
                        <div class="card-body"> 
                            <p class="card-text"><player-stats [player]></player-stats> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow">
                        <div class="card-body">
                            <p class="card-text"><creategame></creategame> </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>